* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


            /*header*/

            
.menu__bar {
    background-color: rgba(232, 236, 239, 0.897);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


        /*logo*/

.logo {
    height: 200px;
    width: 200px;
}

.menu__bar ul {
    list-style: none;
    display: flex;
}

.menu__bar ul li {
    padding: 10px 20px;
    position: relative;
}

.menu__bar ul li a {
    color: #1a1a1a;
    font-size: 15px;
    transition: all 0.3s ease;
    font-weight: 550;
    text-decoration: none;
}

.menu__bar ul li a:hover {
    color: rgb(23, 193, 156);
}

.menu__bar ul li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(23, 193, 156);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#page-header{
    background-image: url(/image/laptop\ page\ header.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(216, 233, 165);
}

#laptop-section_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/laptop\ section.jpg);
    width: 28%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    margin-left: 37%;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
}


#computer-section_1 h2{
    color: white;
}

#computer-section_1 p{
    color: white;
}

#ROGSTRIX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/ROG\ LAPTOP.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.sectionp-1{
    padding: 40px 80px;
}

#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width: 15%;
    height: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25 );
}

#product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

#product1 .pro .des span {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: yellow;
}

#product1 .pro .des h6{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}


#lenovo_legion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/lenovo\ legion.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white    ;
}

#lenovo_ideapad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/lenovo\ ideapad.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#msi_laptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/msi\ laptop.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#dell_laptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/dell\ laptop.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#hp_laptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/HP\ LAPTOP.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#acer_laptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/acer\ laptop.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#laptop-section_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/laptop\ section\ 2.jpg);
    width: 28%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    margin-left: 37%;
    border-radius: 50px;
    margin-top: 10px;
    color: white;
}

#mouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/mouse.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

#keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/keyboard.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: WHITE;
}

#keyboardmouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/image/keyboard.jpg);
    width: 15%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    height: 100px;
    width: 200px;
}


footer .install .row .img2{
    height: 70px;
    width: 200px;
    margin-bottom: 28px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
