* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


            /*header*/

            
.menu__bar {
    background-color: rgba(232, 236, 239, 0.897);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


        /*logo*/

.logo {
    height: 200px;
    width: 200px;
}

.menu__bar ul {
    list-style: none;
    display: flex;
}

.menu__bar ul li {
    padding: 10px 20px;
    position: relative;
}

.menu__bar ul li a {
    color: #1a1a1a;
    font-size: 15px;
    transition: all 0.3s ease;
    font-weight: 550;
    text-decoration: none;
}

.menu__bar ul li a:hover {
    color: rgb(23, 193, 156);
}

.menu__bar ul li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(23, 193, 156);
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodetails .small-img-group{
    display: flex;
    justify-content: space-between;
}

#prodetails .small-img-col-1{
    flex-basis: 24%;
    cursor: pointer;

}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
    margin-top: 25px;
}

#prodetails .single-pro-details button{
    color: #c34d4d;
    font-size: 20px;
    padding: 5px 30px;
    background-color: #000000;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 30px;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}



footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-right: 40px;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    height: 100px;
    width: 200px;
}


footer .install .row .img2{
    height: 70px;
    width: 200px;
    margin-bottom: 28px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

